@import "tailwindcss";

:root {
    --background: #ffffff;
    --text-primary: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text-primary);
}
